*{
    padding: 0px;
    margin: 0px;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.homeButton{
    text-decoration: none;
    margin: auto;
      width:25%;
      text-align: center;
      color:white;
     background-color:#007bff;
      border: 1px solid #24a0ed;
      border-radius: 0.25rem;
      padding: 0.5rem;
  }