<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIP Scheduling</title>
</head>
<body>
    <h1>Timeslot as per Schedule</h1>
    <p>Free Slot</p>
    <% for (var i=0 ; i<freeSlot.length; i++) { %>
        <p><%= freeSlot[i] %></p>
    <%} %> <br> <hr>
    <p>Filled Slot</p>
    <% for (var i=0 ; i<filledSlot.length; i++) { %>
        <p><%= filledSlot[i] %></p>
    <%} %>
</body>
</html>