<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIP Scheduling</title>
    <link rel="stylesheet" href="style/index.css">
</head>
<body>
    <nav class="navBar">
        <img src="images/logo.jpg" alt="Logo" class="logo">
        <span>AIP Scheduling</span>
    </nav>
    <main class="container">
        <form action="/aipScheduling" method="POST" enctype="multipart/form-data">
           
        <div class="timeInput">
            <label for="startTime">From</label>
            <input type="text" name="startTime" id="startTime" placeholder="9:00" required>
            <label for="endTime">To</label>
            <input type="text" name="endTime" id="endTime" placeholder="9:30" required>
        </div>
        <div class="fileUpload">
            <span>Upload Excel Sheet (.xlsx format) </span> 
            <input type="file" name="facultyRoutine" class="uploadButton">
        </div>
        <!-- <div class="dayInput">
            <label for="days">Select Day</label>
            <select name="days" id="days">
                <option value="MON">Monday</option>
                <option value="TUE">Tuesday</option>
                <option value="WED">Wednesday</option>
                <option value="THU">Thursday</option>
                <option value="FRI">Friday</option>
                <option value="SAT">Saturday</option>
            </select>
        </div> -->
        <div class="dateInput">
            <input type="date" name="date" id="date">
        </div>
            <input type="submit" value="Search" class="submitButton">
        </form>
    </main>
</body>
</html>